In [6]:
# from mlwpy import *
# %matplotlib inline

import pandas as pd
from collections import deque
import numpy as np
import csv 

path1 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/LTDB_Orig_2010_fullcount.xls"
data2 = pd.read_excel(path1)
display(data2)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,state,county,tract,tractid,pop10,nhwht10,nhblk10,ntv10,asian10,hisp10,...,a60blk10,agehsp10,a15hsp10,a60hsp10,ageasn10,a15asn10,a60asn10,agentv10,a15ntv10,a60ntv10
0,AL,Autauga County,Census Tract 201,1001020100,1912,1601,228,21,16,44,...,17,44,14,2,14,4,1,13,1,3
1,AL,Autauga County,Census Tract 202,1001020200,2170,844,1226,9,13,75,...,172,75,14,1,5,0,0,5,3,1
2,AL,Autauga County,Census Tract 203,1001020300,3373,2538,668,30,42,87,...,79,87,34,9,22,2,7,9,1,3
3,AL,Autauga County,Census Tract 204,1001020400,4386,4030,205,30,35,85,...,18,85,28,6,21,2,6,11,2,3
4,AL,Autauga County,Census Tract 205,1001020500,10766,8438,1504,84,373,355,...,93,355,143,28,301,82,27,44,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,TX,Nueces County,Census Tract 18.01,48355001801,5987,291,358,7,21,5300,...,134,5300,1208,1298,15,2,2,5,0,0
65531,TX,Nueces County,Census Tract 18.02,48355001802,2310,140,152,3,9,2005,...,16,2005,555,189,9,0,0,1,0,1
65532,TX,Nueces County,Census Tract 19.02,48355001902,7930,904,464,16,124,6413,...,48,6413,1958,673,114,25,15,12,1,1
65533,TX,Nueces County,Census Tract 19.03,48355001903,3618,326,83,10,6,3188,...,8,3188,915,496,3,0,1,9,2,0
65534,TX,Nueces County,Census Tract 19.04,48355001904,4790,441,142,9,6,4188,...,22,4188,1114,774,4,1,1,4,0,1

In [18]:


path2 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/LTDB_Std_2010_fullcount.csv"     
data = pd.read_csv(path2, engine='python',encoding='latin1')  
display(data)

,tractid,state,county,tract,pop10,nhwht10,nhblk10,ntv10,asian10,hisp10,...,a15hsp10,a60hsp10,ageasn10,a15asn10,a60asn10,agentv10,a15ntv10,a60ntv10,GlobD10,GlobG10
0,1001020100,AL,Autauga County,Census Tract 201,1912,1601,228,21,16,44,...,14,2,14,4,1,13,1,3,bw,White Black
1,6083002402,CA,Santa Barbara County,Census Tract 24.02,11406,1980,207,54,703,8439,...,2972,414,624,119,75,26,4,3,wha,Dual immig
2,1001020200,AL,Autauga County,Census Tract 202,2170,844,1226,9,13,75,...,14,1,5,0,0,5,3,1,bw,White Black
3,6083002102,CA,Santa Barbara County,Census Tract 21.02,2084,853,24,24,88,1088,...,342,84,61,4,16,11,0,4,wha,Dual immig
4,1001020300,AL,Autauga County,Census Tract 203,3373,2538,668,30,42,87,...,34,9,22,2,7,9,1,3,bw,White Black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73997,72153750501,PR,Yauco Municipio,Census Tract 7505.01,4960,16,2,0,0,4942,...,1103,905,0,0,0,0,0,0,h,Minority
73998,72153750502,PR,Yauco Municipio,Census Tract 7505.02,2092,7,0,0,7,2078,...,428,548,6,0,4,0,0,0,h,Minority
73999,72153750503,PR,Yauco Municipio,Census Tract 7505.03,2357,12,1,0,0,2344,...,468,505,0,0,0,0,0,0,h,Minority
74000,72153750601,PR,Yauco Municipio,Census Tract 7506.01,5315,26,0,2,3,5284,...,1274,844,3,0,0,2,0,1,h,Minority
74001,72153750602,PR,Yauco Municipio,Census Tract 7506.02,3141,8,0,1,0,3132,...,647,702,0,0,0,1,0,1,h,Minority

**Features***
----------------
* **trtid10**: 2010 tract id - string
* **trtid10num**: 2010 tract id - number 
* **cntyid10**: 2010 county id
* **changetype_1pct**: 
* l_total
* l_nhw
* l_under18
* l_age25up
* l_medhhinc
* l_occunit
* l_ownerocc
* l_renterocc
* l_pctnhw
* l_pctowner
* total
* nhw
* under18
* age25up
* medhhinc
* occunit
* ownerocc
* renterocc
* pctnhw
* pctunder18
* pctowner

In [26]:
path3 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/LTDB_DP.xlsx"
data3 = pd.read_excel(path3)
# display(data3)

ltdb = pd.DataFrame({'tractID': data3['trtid10'],
                        'tract_population': data3['l_total'],
                        'non-hisp white': data3['l_nhw'],
                        '18 and under': data3['l_under18'],
                        '25 and up': data3['l_age25up'],
                        'median household income': data3['l_medhhinc'],
                        'occupied housing': data3['l_occunit'],
                        'home owners': data3['l_ownerocc'],
                        'renters': data3['l_renterocc'],
                        '% of home owners': data3['l_pctowner'],
                        '% of non-hisp whites': data3['l_pctnhw']})
display(ltdb.head(10))


dp = pd.DataFrame({'tractID': data3['trtid10'],
                        'tract_population': data3['total'],
                        'non-hisp white': data3['nhw'],
                        '18 and under': data3['under18'],
                        '25 and up': data3['age25up'],
                        'median household income': data3['medhhinc'],
                        'occupied housing': data3['occunit'],
                        'home owners': data3['ownerocc'],
                        'renters': data3['renterocc'],
                        '% of home owners': data3['pctowner'],
                        '% of non-hisp whites': data3['pctnhw']})
display(dp.head(10))
# print(ltdb_dp)

,tractID,tract_population,non-hisp white,18 and under,25 and up,median household income,occupied housing,home owners,renters,% of home owners,% of non-hisp whites
0,1001020100,1920.974731,1722.977295,518.993164,1226.983887,36685.000802,675.991089,517.993164,157.997925,76.627220,89.692863
1,1001020200,1892.000000,671.000000,530.000000,1157.000000,30298,664.000000,452.000000,212.000000,68.072289,35.465115
2,1001020300,3339.000000,2738.000000,960.000000,2130.000000,46731,1202.000000,869.000000,333.000000,72.296173,82.000603
3,1001020400,4556.000000,4273.000000,1123.000000,3072.000000,46142,1760.000000,1390.000000,370.000000,78.977272,93.788414
4,1001020500,6053.912109,5426.983398,1871.251587,3785.214923,58886.269478,2201.949219,1670.675171,531.273926,75.872559,89.644241
5,1001020600,3272.000000,2615.275391,992.835999,1976.954346,33698.999358,1170.093506,960.871521,209.222031,82.119209,79.928955
6,1001020700,2900.000000,2518.000000,772.000000,1848.000000,36964,1207.000000,847.000000,360.000000,70.173988,86.827583
7,1001020801,1886.000122,1584.132690,548.453430,1176.331596,44775.547282,667.003418,583.181519,83.821907,87.433060,83.994308
8,1001020802,7577.025391,6382.614746,2197.717285,4734.730051,45438.968265,2677.912109,2349.953857,327.958160,87.753212,84.236420
9,1001020900,4629.041992,3821.036621,1373.010986,2912.027315,38541.9031,1664.016357,1475.013794,189.002533,88.641785,82.544868

,tractID,tract_population,non-hisp white,18 and under,25 and up,median household income,occupied housing,home owners,renters,% of home owners,% of non-hisp whites
0,1001020100,1906.0576,1703.07360,513.06329,1240.0675,34437.902,672.16681,512.76709,158.85460,76.285690,89.350586
1,1001020200,1894.5242,675.25153,531.89526,1142.5310,29659.156,664.21838,451.85352,211.84319,68.027855,35.642277
2,1001020300,3339.9915,2740.03740,960.96790,2124.9875,47077.441,1201.02360,869.87598,331.18683,72.427887,82.037254
3,1001020400,4573.9517,4288.72900,1131.30750,3081.0188,46563.461,1766.04220,1391.89510,374.09390,78.814377,93.764198
4,1001020500,6080.7319,5440.17820,1864.04060,3799.1929,56831.227,2231.21970,1670.26650,560.37415,74.858894,89.465843
5,1001020600,3276.9641,2611.08860,990.99414,2006.0935,34549.879,1166.01030,977.23816,188.90623,83.810425,79.680107
6,1001020700,2889.2378,2510.80400,768.52100,1847.9495,36656.336,1203.48560,845.79230,357.30627,70.278557,86.901947
7,1001020801,1923.9043,1673.00630,524.31757,1220.1396,41721.777,703.08807,588.18317,115.53374,83.657112,86.958916
8,1001020802,7570.6279,6338.11130,2240.01640,4680.3701,45188.914,2658.80930,2345.04130,313.72919,88.198929,83.719757
9,1001020900,4652.0547,3832.53810,1379.57480,2930.9900,38603.605,1667.78560,1476.91590,190.64491,88.555496,82.383774

In [13]:

path4 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/LTDB_County_2010_Global_Neighborhood.csv"
neighborhoods = pd.read_csv(path4)
display(neighborhoods)

,YEAR,STATEFP10,COUNTYFP10,NAME10,CNTYID,STATE_1,GlobD10,GlobG10
0,2010,2,13,Aleutians East,2013,AK,NaN,Immigrant minority
1,2010,2,16,Aleutians West,2016,AK,NaN,Immigrant minority
2,2010,28,107,Panola,28107,MS,NaN,White/Black
3,2010,28,101,Newton,28101,MS,NaN,White/Black
4,2010,28,27,Coahoma,28027,MS,NaN,White/Black
...,...,...,...,...,...,...,...,...
3216,2010,37,77,Granville,37077,NC,NaN,NaN
3217,2010,37,111,McDowell,37111,NC,NaN,NaN
3218,2010,27,21,Cass,27021,MN,NaN,White
3219,2010,27,57,Hubbard,27057,MN,NaN,White
3220,2010,27,169,Winona,27169,MN,NaN,Immigrant minority

In [ ]:
# path5 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/census_tracts.csv"
# refined_ltdb = pd.read(path5)