Data Cleansing and Possible Correlations
----
**Data Cleansing**
* Change and check datatypes of columns
* Datateset A: Integrate neighborhood dataset with std_ltdb by state & county
* Dataset B: Integrate A with ltdb and dp by tract ID
* Find NA in demographic column and determined what is what
* Dataset C: Aggregate population for all minorities and aggregate that column with ltdb and dp
 * Add vacant home units column
 * Add % of minorities column
 * Add housing units column
* Drop age in ltdb and dp 
* normalize median household income

**Correlation**
 * Income
 * Race
 * HomeOwners vs vacant Homes (vs renting)
 * Look into neighboring counties or areas
         * Is it more predominantly white/black/minority
         * Is it low income based (Is there a higher income near by)
Codebook for all datasets produced by LTDB:
https://s4.ad.brown.edu/Projects/Diversity/Researcher/LTBDDload/Dfiles/codebook20220211.pdf

In [1]:
# from mlwpy import *
# %matplotlib inline

import pandas as pd
from collections import deque
import numpy as np
import csv 
import tensorflow as tf
# path1 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/LTDB_Orig_2010_fullcount.xls"
# data2 = pd.read_excel(path1)
# display(data2)

2023-02-21 15:31:20.608425: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:


path2 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/LTDB_Std_2010_fullcount.csv"     
data = pd.read_csv(path2, engine='python',encoding='latin1')  
# display(data)

std_ltdb = pd.DataFrame({'tractID': data['tractid'],
                        'state': data['state'],
                        'county': data['county'],
                        'population': data['pop10'],
                        'non-hisp white': data['nhwht10'],
                        'non-hisp black': data['nhblk10'],
                        'native american': data['ntv10'],
                         'asian': data['asian10'],
                        'hispanic': data['hisp10'],
                        'indian': data['india10'],
                        'chinese': data['china10'],
                        'filipino': data['filip10'],
                         'japanese': data['japan10'],
                         'korean': data['korea10'],
                         'vietnamnese': data['viet10'],
                         'mexican': data['mex10'],
                         'puerto rican': data['pr10'],
                         'cuban': data['cuban10'],
                         'housing units': data['hu10'],
                         'vaccant units': data['vac10'],
                         'home owners': data['own10'],
                         'rented': data['rent10']
                        }, index=[i for i in range(len(data))])
std_ltdb = std_ltdb.dropna()
std_ltdb = std_ltdb.sort_values('tractID')
display(std_ltdb)
std_ltdb = std_ltdb.convert_dtypes()
# print(std_ltdb.dtypes)


print('done')

,tractID,state,county,population,non-hisp white,non-hisp black,native american,asian,hispanic,indian,...,japanese,korean,vietnamnese,mexican,puerto rican,cuban,housing units,vaccant units,home owners,rented
0,1001020100,AL,Autauga County,1912,1601,228,21,16,44,1,...,5,4,0,30,2,1,752,59,536,157
2,1001020200,AL,Autauga County,2170,844,1226,9,13,75,1,...,3,3,0,41,2,1,822,79,469,274
4,1001020300,AL,Autauga County,3373,2538,668,30,42,87,2,...,9,3,6,50,24,1,1326,70,949,307
6,1001020400,AL,Autauga County,4386,4030,205,30,35,85,1,...,11,4,0,37,19,4,1823,101,1357,365
8,1001020500,AL,Autauga County,10766,8438,1504,84,373,355,52,...,25,125,33,172,80,13,4308,226,2459,1623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73997,72153750501,PR,Yauco Municipio,4960,16,2,0,0,4942,5,...,1,0,0,8,4899,5,1927,178,1298,451
73998,72153750502,PR,Yauco Municipio,2092,7,0,0,7,2078,3,...,1,0,0,5,2042,13,882,76,562,244
73999,72153750503,PR,Yauco Municipio,2357,12,1,0,0,2344,1,...,1,0,0,8,2313,3,1056,195,685,176
74000,72153750601,PR,Yauco Municipio,5315,26,0,2,3,5284,9,...,0,0,3,21,5215,14,2106,251,1567,288
74001,72153750602,PR,Yauco Municipio,3141,8,0,1,0,3132,2,...,0,0,0,7,3112,1,1450,306,906,238

done

In [3]:
def clean_std_ltdb(df):
    for i in range(len(df)):
        if df['population'][i] == 0:
            df = df.drop([i])
    df = df.drop(['population', 'non-hisp black', 'non-hisp white', 'native american', 'asian', 'hispanic', 'indian', 'chinese', 'japanese', 'korean', 'vietnamnese', 'mexican', 'puerto rican', 'cuban', 'filipino'], axis=1)
    return df

std_housing_info = clean_std_ltdb(std_ltdb)
# display(std_housing_info)

In [ ]:
def race_description():
#     Create a table with the specific races and the popultaion included within each tract
    pass

In [4]:
def minority_column(df):
    minority_count, total, immigrant_minority = 0, 0, 0
    m_total, population, w_perc, b_perc, m_perc, i_perc, tracts, w_total = [],[],[],[],[],[],[],[]

    for i in range(len(df)):
        minority_count =  df['non-hisp black'][i]+ df['native american'][i]+ df['hispanic'][i]+ df['asian'][i] + df['puerto rican'][i] + df['cuban'][i]
        
        total =  df['non-hisp white'][i] + df['non-hisp black'][i] + df['native american'][i] + df['hispanic'][i] + df['asian'][i] + df['puerto rican'][i] + df['cuban'][i]  
    
        immigrant_minority =  df['hispanic'][i]+ df['asian'][i] + df['puerto rican'][i] + df['cuban'][i]
       
        if total == 0:
            df = df.drop([i])
        else:
            population.append(total)
            m_total.append(minority_count)
            i_perc.append((immigrant_minority/total)*100)
            m_perc.append((minority_count/total)*100)
            w_perc.append((df['non-hisp white'][i]/total)*100)
            b_perc.append((df['non-hisp black'][i]/total)*100)
            tracts.append(df['tractID'][i])
            w_total.append(df['non-hisp white'][i])
            

        minority_count = 0
        immigrant_minority = 0
        total =0
    return population, m_total, i_perc, b_perc, w_perc, m_perc, df, tracts, w_total

pop_col, min_col, ip_col, bp_col, wp_col, mp_col, df, tracts, w_col = minority_column(std_ltdb)
print()


population_make_up = pd.DataFrame({'tractID': tracts,
                                   'population': pop_col,
                                   'non-hisp white': w_col,
                                   'minorities': min_col,
                                   'non-hisp white %': wp_col,
                                   'non-hisp black %': bp_col,
                                   'immigrant minority %': ip_col,
                                   'minority %': mp_col})

display(population_make_up)

,tractID,population,non-hisp white,minorities,non-hisp white %,non-hisp black %,immigrant minority %,minority %
0,1001020100,1913,1601,312,83.690538,11.918453,3.293257,16.309462
1,6083002402,11438,1980,9458,17.310719,1.809757,80.407414,82.689281
2,1001020200,2170,844,1326,38.894009,56.497696,4.193548,61.105991
3,6083002102,2094,853,1241,40.735435,1.146132,56.972302,59.264565
4,1001020300,3390,2538,852,74.867257,19.705015,4.542773,25.132743
...,...,...,...,...,...,...,...,...
73421,72153750501,9864,16,9848,0.162206,0.020276,99.817518,99.837794
73422,72153750502,4147,7,4140,0.168797,0.000000,99.831203,99.831203
73423,72153750503,4673,12,4661,0.256794,0.021400,99.721806,99.743206
73424,72153750601,10544,26,10518,0.246586,0.000000,99.734446,99.753414
73425,72153750602,6254,8,6246,0.127918,0.000000,99.856092,99.872082

In [5]:
new_std_ltdb = pd.merge(population_make_up, std_housing_info, on=['tractID'])
display(new_std_ltdb)

,tractID,population,non-hisp white,minorities,non-hisp white %,non-hisp black %,immigrant minority %,minority %,state,county,housing units,vaccant units,home owners,rented
0,1001020100,1913,1601,312,83.690538,11.918453,3.293257,16.309462,AL,Autauga County,752,59,536,157
1,6083002402,11438,1980,9458,17.310719,1.809757,80.407414,82.689281,CA,Santa Barbara County,3041,121,1444,1476
2,1001020200,2170,844,1326,38.894009,56.497696,4.193548,61.105991,AL,Autauga County,822,79,469,274
3,6083002102,2094,853,1241,40.735435,1.146132,56.972302,59.264565,CA,Santa Barbara County,779,40,433,306
4,1001020300,3390,2538,852,74.867257,19.705015,4.542773,25.132743,AL,Autauga County,1326,70,949,307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73421,72153750501,9864,16,9848,0.162206,0.020276,99.817518,99.837794,PR,Yauco Municipio,1927,178,1298,451
73422,72153750502,4147,7,4140,0.168797,0.000000,99.831203,99.831203,PR,Yauco Municipio,882,76,562,244
73423,72153750503,4673,12,4661,0.256794,0.021400,99.721806,99.743206,PR,Yauco Municipio,1056,195,685,176
73424,72153750601,10544,26,10518,0.246586,0.000000,99.734446,99.753414,PR,Yauco Municipio,2106,251,1567,288
73425,72153750602,6254,8,6246,0.127918,0.000000,99.856092,99.872082,PR,Yauco Municipio,1450,306,906,238

**Features**
----------------
* **trtid10**: 2010 tract id - string
* **trtid10num**: 2010 tract id - number 
* **cntyid10**: 2010 county id
* **changetype_1pct**: 
* **l_total**: total population from LTDB
* **l_nhw**: total of non-hispanic white from LTDB
* **l_under18**: total of people under the age of 18 from LTDB
* **l_age25up**: total of people OVER the age odf 25 from LTDB
* **l_medhhinc**: median household income from LTDB
* **l_occunit**: total of occupied housing units from LTDB
* **l_ownerocc**: total of owners of occupied housing from LTDB
* **l_renterocc**: total of renters of occupeied housing from LTDB
* **l_pctnhw**: % of non-hispanic white people from LTDB
* **l_pctowner**: % of home owners from LTDB
* **total**: total population from LTDB-DP *(more accurate data set)*
* **nhw**: total of nonhispanic white people from LTDB-DP
* **under18**: total of people under the age of 18 from LTDB-DP
* **age25up**: total of people over the age of 25 from LTDB-DP
* **medhhinc**:median household income from LTDB-DP
* **occunit**: total of occupied housing units from LTDB-DP
* **ownerocc**: total of owners of occupied housing from LTDB-DP
* **renterocc**: total of renters of occupeied housing from LTDB-DP
* **pctnhw**:% of non-hispanic white people from LTDB-DP
* **pctowner**:% of home owners from LTDB-DP

In [6]:
path3 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/LTDB_DP.xlsx"
data3 = pd.read_excel(path3)
# display(data3)

def dtype_conversion(df, col):
    df[col] = df[col].astype(str)
    
    count  = 0
    for cell in df[col]:
        if cell == '' or ' ' in cell:
            df = df.drop([count])       
        else:
            df.at[count, col] = float(cell)
        count += 1

    return df.convert_dtypes()


ltdb = pd.DataFrame({'tractID': data3['trtid10'],
                        'population': data3['l_total'],
                        'non-hisp white': data3['l_nhw'],
                        'median household income': data3['l_medhhinc'],
                        'occupied housing': data3['l_occunit'],
                        'home owners': data3['l_ownerocc'],
                        'renters': data3['l_renterocc'],
                        '% of home owners': data3['l_pctowner'],
                        '% of non-hisp whites': data3['l_pctnhw']})
# display(ltdb.head(10))

ltdb = dtype_conversion(ltdb, 'median household income')

dp = pd.DataFrame({'tractID': data3['trtid10'],
                        'population': data3['total'],
                        'non-hisp white': data3['nhw'],
                        'median household income': data3['medhhinc'],
                        'occupied housing': data3['occunit'],
                        'home owners': data3['ownerocc'],
                        'renters': data3['renterocc'],
                        '% of home owners': data3['pctowner'],
                        '% of non-hisp whites': data3['pctnhw']})

        
dp = dtype_conversion(dp, 'median household income')
# display(dp.drop_duplicates(subset=['tractID']))

m_t, m_p = [], []
total = 0
for i in range(len(dp)):
    m_t.append((dp['population'][i]-dp['non-hisp white'][i]))
    
    
    
    
display(dp)

,tractID,population,non-hisp white,median household income,occupied housing,home owners,renters,% of home owners,% of non-hisp whites
0,1001020100,1906.0576,1703.0736,34437.902,672.16681,512.76709,158.8546,76.28569,89.350586
1,1001020200,1894.5242,675.25153,29659.156,664.21838,451.85352,211.84319,68.027855,35.642277
2,1001020300,3339.9915,2740.0374,47077.441,1201.0236,869.87598,331.18683,72.427887,82.037254
3,1001020400,4573.9517,4288.729,46563.461,1766.0422,1391.8951,374.0939,78.814377,93.764198
4,1001020500,6080.7319,5440.1782,56831.227,2231.2197,1670.2665,560.37415,74.858894,89.465843
...,...,...,...,...,...,...,...,...,...
71623,56043000200,3077.1423,2695.0837,36002.227,1172.3794,854.67273,318.19821,72.900696,87.583977
71624,56043000301,2743.7336,2280.0859,32409.908,1148.9907,806.966,342.53061,70.232597,83.101578
71625,56043000302,2476.1875,2174.1035,41651.902,958.05377,736.07489,222.01434,76.830231,87.800438
71626,56045951100,2987.1047,2837.7847,34848.859,1139.1307,955.96326,183.06155,83.920418,95.001175
71627,56045951300,3656.356,3459.0222,31009.732,1487.9396,1090.9346,395.79623,73.318474,94.602997

In [ ]:

path4 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/LTDB_County_2010_Global_Neighborhood.csv"
data4 = pd.read_csv(path4)
# display(data4)

neighborhoods = pd.DataFrame({'state': data4['STATE_1'],
                              'city': data4['NAME10'],
                              'demographic': data4['GlobG10']})
neigh2 = pd.DataFrame({'state': data4['STATE_1'], 'demographic': data4['GlobG10']})
                       
display(neighborhoods)
neighborhoods = neighborhoods.convert_dtypes()

print(neighborhoods.dtypes)


# states, counties = set(), set()

# for state in neighborhoods['state']:
#     states.add(state)
    
# for county in neighborhoods['county']:
#     counties.add(county)
# print(states)
# print(counties)

In [ ]:
dp_std_ltdb_merge = pd.merge(dp, std_ltdb, on=['tractID'])
display(dp_std_ltdb_merge)

In [ ]:
ltdb_std_ltb_merge = pd.merge(std_ltdb, ltdb, on=['tractID'])
display(ltdb_std_ltb_merge)

In [ ]:
# path5 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/LTDB-Stats/census_tracts.csv"
# refined_ltdb = pd.read(path5)

In [ ]:
# Merging
# std_ltdb with neighborhoods on states and counties
ltdbn_merge_states = pd.merge(std_ltdb, neighborhoods, on=["state"])
display(ltdbn_merge_states)

states3 = set()

for state3 in ltdbn_merge_states['state']:
    states3.add(state3)
    
print(states3)

In [ ]:
# ltdbn_merge_counties = pd.merge(neighborhoods, std_ltdb, on=["county"])

counties3 = set()
c1 = set()
c2 = set()
c3 = set()

# for county3 in ltdbn_merge_counties['county']:
#     counties3.add(county3)
    
for c in neighborhoods['city']:
    c1.add(c)

row = 0
for c_ in std_ltdb['county']:    
    h = c_.split()
    if h[len(h)-1] == 'County':
        c2.add(" ".join(h[:len(h)-1]))
        continue
    if h[len(h)-1] == 'Municipio':
        h[len(h)-1] = 'Municipality'
    if h[len(h)-1] == 'city':
        h[len(h)-1] = 'City'
# 'San Francisco' to 'San Francisco City and County'  
# 'Broomfield' to'Broomfield City and County'
# 'Carson City' to 'Carson City Consolidated Municipality'
# 'Denver' to 'Denver City and County'
# 'Honolulu' to 'Honolulu City and County'
# 'Nantucket' to 'Nantucket Town and County'
# 'Larue'to 'LaRue'
# 'Bedford City' to 'Bedford City and County'

    c2.add(" ".join(h))       
# 'Municipio'to Munciapilty, 'city' to City, etc.
    row += 1
    
# print(c1.intersection(c2)) => {Carson City, District of Columbia}

# Need to go through neighborhood data seeing some inconsitencies  such as states as count
# print('Neighborhoods', c1)
# print('')
# print('STD_LTDB: ', c2)

In [ ]:
def missing_demographic(df, label):
    pass

In [ ]:
path51 = "/Users/hbcuc2-miles/Downloads/Counties in the US - Sheet2.csv"
data51 = pd.read_csv(path51)

all_counties = set()
# Change 'Prince of Wales – Hyder Census Area' to 'Prince of Wales-Hyder Census Area'
for place in data51['Counties']:
    if place[len(place) - 1] == ' ':
        place = place[:len(place)-1]
    all_counties.add(place)
# 'Hoonah–Angoon Census Area'to 'Hoonah-Angoon Census Area'

a = {'aa', 'hh', ''}
b = {'aa', 'djn', 'djhh'}

print(c2 - all_counties) # Filters out the places that aren't counties
# Places that aren't counties
# De Witt
# Valdez-Cordez Census Area
# La Salle Parish is in lousiana 

# print(all_counties.intersection(c1))

In [ ]:
print(c1 - all_counties)
# print(all_counties.intersection(c1))

In [7]:
path61 = "/Users/hbcuc2-miles/Desktop/Gen-Datasets/Census Data/TRACT_ZIP_122021.xlsx"
data61 = pd.read_excel(path61)

def dtype_conversion2(df, col):
    
    df[col] = df[col].astype(str)
    for i, cell in enumerate(df[col]):
        size = len(cell)
        if size < 5:            
            df[col][i] =  ((5-size) * '0') + cell
    return df.convert_dtypes()
data61 = dtype_conversion2(data61, 'zip')

display(data61)

/var/folders/6r/9x1d9nys6bdcwgb74rzr3ty00000gn/T/ipykernel_13579/562738797.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] =  ((5-size) * '0') + cell

,tract,zip,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,1001020100,36067,PRATTVILLE,AL,1.0,1.0,1.0,1.0
1,1001020200,36067,PRATTVILLE,AL,1.0,1.0,1.0,1.0
2,1001020300,36067,PRATTVILLE,AL,1.0,1.0,1.0,1.0
3,1001020400,36067,PRATTVILLE,AL,0.024142,0.583851,0.25,0.070064
4,1001020400,36066,PRATTVILLE,AL,0.975858,0.416149,0.75,0.929936
...,...,...,...,...,...,...,...,...
172172,78030960800,00802,ST THOMAS,VI,1.0,1.0,1.0,1.0
172173,78030960900,00802,ST THOMAS,VI,0.0,0.0,1.0,1.0
172174,78030961000,00802,ST THOMAS,VI,1.0,1.0,1.0,1.0
172175,78030961100,00802,ST THOMAS,VI,1.0,1.0,1.0,1.0
172176,78030961200,00802,ST THOMAS,VI,1.0,1.0,1.0,1.0

In [8]:
tractID_to_zip = pd.DataFrame({'tractID': data61['tract'],
                               'zip code': data61['zip'], 
                               'city': data61['usps_zip_pref_city'],
                               'state': data61['usps_zip_pref_state']}).convert_dtypes()

display(tractID_to_zip)
print(tractID_to_zip.dtypes)

            tractID zip code        city state
0        1001020100    36067  PRATTVILLE    AL
1        1001020200    36067  PRATTVILLE    AL
2        1001020300    36067  PRATTVILLE    AL
3        1001020400    36067  PRATTVILLE    AL
4        1001020400    36066  PRATTVILLE    AL
...             ...      ...         ...   ...
172172  78030960800    00802   ST THOMAS    VI
172173  78030960900    00802   ST THOMAS    VI
172174  78030961000    00802   ST THOMAS    VI
172175  78030961100    00802   ST THOMAS    VI
172176  78030961200    00802   ST THOMAS    VI

[172177 rows x 4 columns]

tractID      Int64
zip code    string
city        string
state       string
dtype: object

In [9]:
new_dp = pd.merge(dp, tractID_to_zip, on=['tractID'])
# new_dp = new_dp.drop_duplicates(subset=['tractID'])
display(new_dp)

,tractID,population,non-hisp white,median household income,occupied housing,home owners,renters,% of home owners,% of non-hisp whites,zip code,city,state
0,1001020100,1906.0576,1703.0736,34437.902,672.16681,512.76709,158.8546,76.28569,89.350586,36067,PRATTVILLE,AL
1,1001020200,1894.5242,675.25153,29659.156,664.21838,451.85352,211.84319,68.027855,35.642277,36067,PRATTVILLE,AL
2,1001020300,3339.9915,2740.0374,47077.441,1201.0236,869.87598,331.18683,72.427887,82.037254,36067,PRATTVILLE,AL
3,1001020400,4573.9517,4288.729,46563.461,1766.0422,1391.8951,374.0939,78.814377,93.764198,36067,PRATTVILLE,AL
4,1001020400,4573.9517,4288.729,46563.461,1766.0422,1391.8951,374.0939,78.814377,93.764198,36066,PRATTVILLE,AL
...,...,...,...,...,...,...,...,...,...,...,...,...
168033,56045951100,2987.1047,2837.7847,34848.859,1139.1307,955.96326,183.06155,83.920418,95.001175,82723,OSAGE,WY
168034,56045951100,2987.1047,2837.7847,34848.859,1139.1307,955.96326,183.06155,83.920418,95.001175,82701,NEWCASTLE,WY
168035,56045951100,2987.1047,2837.7847,34848.859,1139.1307,955.96326,183.06155,83.920418,95.001175,82721,MOORCROFT,WY
168036,56045951100,2987.1047,2837.7847,34848.859,1139.1307,955.96326,183.06155,83.920418,95.001175,82730,UPTON,WY
168037,56045951300,3656.356,3459.0222,31009.732,1487.9396,1090.9346,395.79623,73.318474,94.602997,82701,NEWCASTLE,WY

- add counties to new dp
    - vacant homes col from std ltdb
- add persentage of minorities to new dp n new ltdb
- do the same merge of zipcodes n counties to ltdb
    - vacant homes col from std ltdb
    - fix population
- make a race table
    - add percentage of blks, whites, immigrant minority n minority
    - demographic column
    - tract merge zip code table
    - fix population
- dropna in columns population, demographics, housing etc.
- standardize/normalize income and percentages
- 3 tables
    - dp table
    - race table
    - ltdb table